// Use this to write your custom SCSS

.marginTop500 {
  margin-top: 500px !important;
}

.marginBottom100 {
  margin-bottom: 60px !important;
}

@include media-breakpoint-down(md) {
  .nextArticleButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-underline-position: under;
    text-decoration: underline dashed rgba(142, 142, 142, 0.3019607843) 1px;
    text-align: left;
  }
}

@include media-breakpoint-up(md) {
  .nextArticleButton {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 30px !important;
    span {
      margin-top: 0;
    }
    a {
      font-size: 20px;
    }
  }
}

.componentContainer {
  margin-top: 100px;
  margin-bottom: 100px;
  + div:before {
    content: '';
    height: 180px;
    width: 100%;
    background-color: #2b4580;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.middle {
  //position: relative;
  isolation: isolate;
  margin: 120px auto 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 30px;
  a {
    font-size: 15px;
    color: black;
    text-decoration: none;
  }
}