.gridContainer {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

    // sm
    @media (min-width: 600px) {
        max-width: 600px;
    }
    // md
    @media (min-width: 920px) {
        max-width: 920px;
    }
    @media (min-width: 960px) {
        max-width: 960px;
    }
    // lg
    @media (min-width: 1280px) {
        max-width: 1280px;
    }
}

.gridItem {
    padding: 15px 0;
    max-width: 1200px;
}

.frameContainer {
    width: 100%;
    max-width: 1200px;
}

.frameWrapper {
    position: relative;
    padding-top: 56.25%;
    margin: 0 auto;
}

.iframeContent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.backdrop {
    z-index: 10000 !important;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.85) !important;
}
