.newsCardRoot {
  display: flex;
  flex-wrap: wrap;
  margin: 1.5rem 0.5rem;

  .newsCardImageWrapper {
    flex: 0 0 40%;
    position: relative;
    width: 320px;
    height: 170px;
    background-color: darkgrey;
  }

  .newsCardDetails {
    flex: 0 0 55%;
    display: flex;
    flex-direction: column;
    padding: 0.7rem 0 0 2rem;

    .content {
      flex: 1 0 auto;
      text-align: start;

      p {
        margin: 0.85rem 0;
      }

      h2 {
        font-size: 1.1rem;
        font-weight: 500;
        line-height: normal;
      }

      .date {
        font-size: 0.7rem;
        padding: 0;
        color: darkgrey;
      }

      .excerpt {
        font-size: 0.8rem;
      }
    }
  }

  // md
  @media screen and (max-width: 767px) {
    .newsCardImageWrapper {
      flex: 0 0 100%;
      height: 200px;
    }

    .newsCardDetails {
      flex: 0 0 100%;
      padding: 0.7rem 0;
    }
  }
}
